@import url("https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #505050;
  background-color: #dfdfe8;
  margin-bottom: 10rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  color: #161617;
  margin-bottom: 0.8rem;
}

p {
  color: #505050;
  margin-bottom: 0.5rem;
}

.container {
  max-width: 80%;
  margin: auto;
}

.error_message {
  color: #e43f5a;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0.8rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  width: 100%;
}

/*  IMAGE  */

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #505050;
  padding: 2px;
  object-fit: cover;
}

.img_feedback {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/*  BUTTON  */

button {
  cursor: pointer;
  border: none;
}

.button_primary {
  color: #fff !important;
  background: #e43f5a;
  padding: 0.25rem 1.2rem;
  border-radius: 4px;
  width: fit-content;
  text-decoration: none;
}

.button_large {
  padding: 0.5rem 1.5rem;
}

.button_text {
  color: #e43f5a !important;
  padding: 0.25rem 1.2rem;
  text-decoration: none;
}

/* LABEL */

.label {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 10px;
  padding: 0.25rem 0.5rem;
  margin-left: 0.25rem;
}

.profesional {
  background: #17a2b8;
}

.personal {
  background: #6c757d;
}

.agradecimiento {
  background: #343a40;
}

.referencia {
  background: #ffc107;
}

label {
  color: #161617;
  font-weight: 600;
}

/*  FORM  */

input {
  margin: 0.5rem 0;
  border: none;
  background: #dfdfe8;
  border-radius: 6px;
  padding: 0.5rem;
}

textarea {
  margin: 0.5rem 0;
  border: none;
  background: #dfdfe8;
  border-radius: 6px;
  padding: 0.5rem;
  height: auto;
}

select {
  margin: 0.5rem 0;
  border: none;
  background: #dfdfe8;
  border-radius: 6px;
  padding: 0.5rem;
}

.label_description {
  font-size: 0.8rem;
  font-style: italic;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
